.header{
    background-color: #003171;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem 0 2rem;
}
.logo-cont{
    width: 100px;
}
.logo{
    height: 100%;
}
.nav-menu-cont{
    display: flex;
    height: 100%;
    width: 500px;
}
.nav-menu{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
a{
    text-decoration: none;
    color: #22A7F0;
}
a:hover{
    color: #4B77BE;
}